In [61]:
import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype
import numpy as np

# 0. Load Data

In [21]:
data = pd.read_csv('/Users/ty/Documents/0.*2017FALL/92.Visual/Project/loan.csv',header=0)

/Users/ty/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,8.873790e+05,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,...,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,8.171030e+05,21372.000000,21372.000000,21372.000000
mean,3.246513e+07,3.500182e+07,14755.264605,14741.877625,14702.464383,13.246740,436.717127,7.502759e+04,18.157039,0.314442,...,36552.811389,71.535317,1.389060,2.975482,5887.979740,60.831939,3.206862e+04,0.943945,1.537058,1.977307
std,2.282734e+07,2.411335e+07,8435.455601,8429.897657,8442.106732,4.381867,244.186593,6.469830e+04,17.190626,0.862244,...,43103.833619,23.022862,1.520129,2.631886,5284.701239,20.013254,3.749826e+04,1.446872,2.723339,2.874067
min,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000
25%,9.206643e+06,1.087713e+07,8000.000000,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,...,10251.500000,58.600000,0.000000,1.000000,2411.000000,47.700000,1.390000e+04,0.000000,0.000000,0.000000
50%,3.443327e+07,3.709528e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,...,24684.500000,74.900000,1.000000,2.000000,4483.000000,61.900000,2.370000e+04,0.000000,0.000000,2.000000
75%,5.490814e+07,5.847135e+07,20000.000000,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,...,47858.000000,87.600000,2.000000,4.000000,7771.500000,75.200000,3.980000e+04,1.000000,2.000000,3.000000
max,6.861706e+07,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,...,878459.000000,223.300000,22.000000,43.000000,127305.000000,151.400000,9.999999e+06,17.000000,35.000000,32.000000

# 1. Exploration

### 1. Data Type

In [38]:
for i in data.columns:
    print i,": ",data.loc[:,i].dtype, len(data.loc[:,i].value_counts()),'\n'

 id :  int64 887379

member_id :  int64 887379

loan_amnt :  float64 1372

funded_amnt :  float64 1372

funded_amnt_inv :  float64 9856

term :  object 2

int_rate :  float64 542

installment :  float64 68711

grade :  object 7

sub_grade :  object 35

emp_title :  object 299272

emp_length :  object 12

home_ownership :  object 6

annual_inc :  float64 49384

verification_status :  object 3

issue_d :  object 103

loan_status :  object 10

pymnt_plan :  object 2

url :  object 887379

desc :  object 124470

purpose :  object 14

title :  object 63145

zip_code :  object 935

addr_state :  object 51

dti :  float64 4086

delinq_2yrs :  float64 29

earliest_cr_line :  object 697

inq_last_6mths :  float64 28

mths_since_last_delinq :  float64 155

mths_since_last_record :  float64 123

open_acc :  float64 77

pub_rec :  float64 32

revol_bal :  float64 73740

revol_util :  float64 1356

total_acc :  float64 135

initial_list_status :  object 2

out_prncp :  float64 248332

out_prncp_inv :  float64 266244

total_pymnt :  float64 506726

total_pymnt_inv :  float64 506616

total_rec_prncp :  float64 260227

total_rec_int :  float64 324635

total_rec_late_fee :  float64 6181

recoveries :  float64 23055

collection_recovery_fee :  float64 20708

last_pymnt_d :  object 98

last_pymnt_amnt :  float64 232451

next_pymnt_d :  object 100

last_credit_pull_d :  object 103

collections_12_mths_ex_med :  float64 12

mths_since_last_major_derog :  float64 168

policy_code :  float64 1

application_type :  object 2

annual_inc_joint :  float64 308

dti_joint :  float64 449

verification_status_joint :  object 3

acc_now_delinq :  float64 8

tot_coll_amt :  float64 10325

tot_cur_bal :  float64 327342

open_acc_6m :  float64 13

open_il_6m :  float64 35

open_il_12m :  float64 12

open_il_24m :  float64 17

mths_since_rcnt_il :  float64 201

total_bal_il :  float64 17030

il_util :  float64 1272

open_rv_12m :  float64 18

open_rv_24m :  float64 28

max_bal_bc :  float64 10707

all_util :  float64 1128

total_rev_hi_lim :  float64 21251

inq_fi :  float64 18

total_cu_tl :  float64 33

inq_last_12m :  float64 29

### 2. Nulls

In [60]:
check_nulls = data.isnull().sum()
check_nulls[check_nulls.values>0]

emp_title                       51457
annual_inc                          4
desc                           761350
title                             151
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
open_acc                           29
pub_rec                            29
revol_util                        502
total_acc                          29
last_pymnt_d                    17659
next_pymnt_d                   252971
last_credit_pull_d                 53
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
annual_inc_joint               886868
dti_joint                      886870
verification_status_joint      886868
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    866007
open_il_6m                     866007
open_il_12m                    866007
open_il_24m                    866007
mths_since_rcnt_il             866569
total_bal_il                   866007
il_util                        868762
open_rv_12m                    866007
open_rv_24m                    866007
max_bal_bc                     866007
all_util                       866007
total_rev_hi_lim                70276
inq_fi                         866007
total_cu_tl                    866007
inq_last_12m                   866007
dtype: int64

### 3. Categorize Columns

In [72]:
for n,c in data.iteritems():
    if is_string_dtype(c):
        data[n] = c.astype('category').cat.as_ordered()
    elif len(data[n].value_counts())<100:
        data[n] = c.astype('category').cat.as_ordered()

In [73]:
for i in data.columns:
    print i,": ",data.loc[:,i].dtype

id :  int64
member_id :  int64
loan_amnt :  float64
funded_amnt :  float64
funded_amnt_inv :  float64
term :  category
int_rate :  float64
installment :  float64
grade :  category
sub_grade :  category
emp_title :  category
emp_length :  category
home_ownership :  category
annual_inc :  float64
verification_status :  category
issue_d :  category
loan_status :  category
pymnt_plan :  category
url :  category
desc :  category
purpose :  category
title :  category
zip_code :  category
addr_state :  category
dti :  float64
delinq_2yrs :  category
earliest_cr_line :  category
inq_last_6mths :  category
mths_since_last_delinq :  float64
mths_since_last_record :  float64
open_acc :  category
pub_rec :  category
revol_bal :  float64
revol_util :  float64
total_acc :  float64
initial_list_status :  category
out_prncp :  float64
out_prncp_inv :  float64
total_pymnt :  float64
total_pymnt_inv :  float64
total_rec_prncp :  float64
total_rec_int :  float64
total_rec_late_fee :  float64
recoveries :  float64
collection_recovery_fee :  float64
last_pymnt_d :  category
last_pymnt_amnt :  float64
next_pymnt_d :  category
last_credit_pull_d :  category
collections_12_mths_ex_med :  category
mths_since_last_major_derog :  float64
policy_code :  category
application_type :  category
annual_inc_joint :  float64
dti_joint :  float64
verification_status_joint :  category
acc_now_delinq :  category
tot_coll_amt :  float64
tot_cur_bal :  float64
open_acc_6m :  category
open_il_6m :  category
open_il_12m :  category
open_il_24m :  category
mths_since_rcnt_il :  float64
total_bal_il :  float64
il_util :  float64
open_rv_12m :  category
open_rv_24m :  category
max_bal_bc :  float64
all_util :  float64
total_rev_hi_lim :  float64
inq_fi :  category
total_cu_tl :  category
inq_last_12m :  category

### 4. Time

In [87]:
data['issued_year'] = data.issue_d.str[-4:]

In [89]:
data['issued_month']= data.issue_d.str[0:3]

### 5. Look at categorical columns

In [91]:
for i in data.columns:
    if len(data.loc[:,i].value_counts()) < 10:
        print i, len(data.loc[:,i].value_counts())

term 2
grade 7
home_ownership 6
verification_status 3
pymnt_plan 2
initial_list_status 2
policy_code 1
application_type 2
verification_status_joint 3
acc_now_delinq 8
issued_year 9

In [92]:
for i in data.columns:
    if (len(data.loc[:,i].value_counts()) > 10) & (len(data.loc[:,i].value_counts())<20):
        print i, len(data.loc[:,i].value_counts())

emp_length 12
purpose 14
collections_12_mths_ex_med 12
open_acc_6m 13
open_il_12m 12
open_il_24m 17
open_rv_12m 18
inq_fi 18
issued_month 12

In [93]:
data.to_csv('processed_loan.csv')